.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(29, 251, 19) 1% , rgb(113, 255, 214) 80%);
background: -o-linear-gradient(left , rgb(29, 251, 19) 1% , rgb(113, 255, 214) 80%);
background: -ms-linear-gradient(left , rgb(29, 251, 19) 1% , rgb(113, 255, 214) 80%);
background: -moz-linear-gradient(left , rgb(29, 251, 19) 1% , rgb(113, 255, 214) 80%);
background: -webkit-linear-gradient(left , rgb(29, 251, 19) 1% , rgb(113, 255, 214) 80%);






}